---
http_interactions:
- request:
    method: get
    uri: https://opendata.paris.fr/api/records/1.0/search/?dataset=bilan-social-effectifs-non-titulaires-permanents&facet=niveau&refine.emplois=CHARGES%20DE%20MISSION%20AGENTS%20D%27EXECUTION
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - fr
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '2021-10-03 00:00:00+00:00'
    body:
      encoding: ASCII-8BIT
      string: '{"nhits": 12, "parameters": {"dataset": "bilan-social-effectifs-non-titulaires-permanents",
        "timezone": "UTC", "rows": 10, "start": 0, "format": "json", "facet": ["annee",
        "collectivite", "type_de_contrat", "emplois", "niveau"]}, "records": [{"datasetid":
        "bilan-social-effectifs-non-titulaires-permanents", "recordid": "2338e9a8a0c8e6c7aafb141425ae90e7931e8744",
        "fields": {"nombre_d_hommes": 3.0, "emplois": "CHARGES DE MISSION AGENTS D''EXECUTION",
        "niveau": "CHARGE DE MISSION AGT D''EXEC.", "type_de_contrat": "Temps Complet",
        "collectivite": "VILLE DE PARIS", "annee": "2018", "nombre_de_femmes": 0.0},
        "record_timestamp": "2019-11-18T16:15:30.293000+00:00"}, {"datasetid": "bilan-social-effectifs-non-titulaires-permanents",
        "recordid": "7a0b3d2b9b432c854a8752bc0621585b9169b87b", "fields": {"nombre_d_hommes":
        1.0, "emplois": "CHARGES DE MISSION AGENTS D''EXECUTION", "niveau": "CHARGE
        DE MISSION AGT D''EXEC.", "type_de_contrat": "TEMPS NON COMPLET", "collectivite":
        "VILLE DE PARIS", "annee": "2018", "nombre_de_femmes": 1.0}, "record_timestamp":
        "2019-11-18T16:15:30.293000+00:[...]
